* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-calculator {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.car-calculator input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  border: 1px solid #fff !important;
  outline: none;
  background: transparent;
  border-radius: 0px;
  box-shadow: none !important;
  border-radius: 8px;
  height: auto;
  margin-top: 5px;
}
.car-calculator label {
  margin: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.car-calculator button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 8px;
}

.car-calculator button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.car-calculator button.reset {
  color: #ff0000;
}
.car-calculator button.reset:hover {
  background: #ff0000;
  color: #fff;
  box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000,
    0 0 100px #ff0000;
}
.car-calculator button span {
  position: absolute;
  display: block;
}

.car-calculator button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
.car-calculator button.reset span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #ff0000);
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.car-calculator button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
.car-calculator button.reset span:nth-child(2) {
  background: linear-gradient(180deg, transparent, #ff0000);
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.car-calculator button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
.car-calculator button.reset span:nth-child(3) {
  background: linear-gradient(270deg, transparent, #ff0000);
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.car-calculator button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
.car-calculator button.reset span:nth-child(4) {
  background: linear-gradient(360deg, transparent, #ff0000);
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
